@import '../styles/animations.scss';

// this is the style definition for the component, the most outer element
:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  align-items: stretch;
}

body {
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: normal;
}

.chart-container {
  grid-column: 1/3;
  height: 350px;
  padding-bottom: 20px;
}

mat-card {
  margin-bottom: 10px;
  min-width: 150px;
  animation-name: appear-from-left;
  animation-duration: 500ms;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(-100%);
}

mat-card-content {
  // We arrange the content in a grid
  display: grid;
  // We have 3 columns, the first get's all available space the others the space that's needed
  grid-template-columns: 1fr auto auto;
  // We have 1 row, the height is as needed by the contained elements
  grid-template-rows: auto;
  // Between columns we want a gap of 10px
  grid-column-gap: 10px;
  // All items will be horizontally positioned at the beginning of their cell
  justify-items: start;
  // All items will be vertically centered in their cell
  align-items: center;

  // We increase the font-size of the mat-card-content container to show the difference between em and rem in the spann
  font-size: 2em;

  span {
    // We increas the font of the span content to 150% of the base font defined in the body element -> rem (root em)
    font-size: 1.5rem;
    // This will increase the font to 150% of the font size defined in the parent container of this element 
    // Because of the 2em in theparent element the 150% increase here is based on the 200% increase of the parent -> 300%
    // font-size: 1.5em;
  }
}
